NEXT_PUBLIC_RITUAL_RPC=https://rpc.ritualfoundation.org
NEXT_PUBLIC_CHAIN_ID=1979
NEXT_PUBLIC_EXPLORER=https://explorer.ritualfoundation.org
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_FACTORY_ADDRESS=
NEXT_PUBLIC_MARKETPLACE_ADDRESS=

# Pinata IPFS JWT keys (get from https://app.pinata.cloud)
NEXT_PUBLIC_PINATA_JWT_1=
NEXT_PUBLIC_PINATA_JWT_2=
NEXT_PUBLIC_PINATA_JWT_3=
